@import "./color";
@import "./mixins";
@import "./font";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background: $primary-violet-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 12px;
  border: 1px solid $primary-violet-color;
  font-size: 18px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 25px;
  text-align: center;
}

button,
input[type="submit"] {
  padding: 10px;
  color: white;
  background: $primary-violet-color;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;

  &:disabled {
    background: lighten(#8e44ad, 30%);
    border-color: lighten(#8e44ad, 30%);
    cursor: not-allowed;
  }
}

#root {
  height: 100vh;
  width: 100%;
  @include center;
}

.App {
  height: 80vh;
  width: 70vw;
  border-radius: 5%;
}

.d-flex {
  display: flex;
}

.CreateWallet,
.Dashboard {
  @include center;
  margin: 2% 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
